@{
    ViewBag.Title = "Sistema de Gestión SIL-ARG";
}

<div class="jumbotron">
    <h1>Sistema de Intermediación Laboral</h1>
    <p class="lead">Es un sistema web que gestiona la oferta y demanda en el mercado laboral.</p>
    <p><a href="https://sil-web20210918182753.azurewebsites.net/" class="btn btn-primary btn-lg">Mas información &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Postulantes</h2>
        <p>
            Este espacio esta destinado a toda aquella persona que este en busca de un nuevo empleo,
            ó desee cambiar su actual empleo.
        </p>
        <p><a class="btn btn-default" href="https://sil-web20210918182753.azurewebsites.net/">Saber mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empresas</h2>
        <p>Ponemos a disposición nuestro servicios de intermediación laboral, que cuenta con profesionales de primer nivel.</p>
        <p><a class="btn btn-default" href="https://sil-web20210918182753.azurewebsites.net/">Saber mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capacitación</h2>
        <p>Realizamos capacitaciones in company.</p>
        <p><a class="btn btn-default" href="https://sil-web20210918182753.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
</div>